# Import libraries

In [1]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
import joblib

# Load Data

In [12]:
# load dataset
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)
x_cols = [c for c in df.columns if c !='income']

X = df[x_cols]
y = df['income']

print(X.shape, y.shape)
df.head()

(32561, 14) (32561,)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Data Preprocessing

## 1. Fill Null values

In [18]:
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)
X_test = X_test.fillna(train_mode)
print(train_mode)

{'age': 28, 'workclass': 'Private', 'fnlwgt': 203488, 'education': 'HS-grad', 'education-num': 9, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0, 'capital-loss': 0, 'hours-per-week': 40, 'native-country': 'United-States'}

## 2. Convert categorical to numerical

In [5]:
X_train.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
      dtype='object')

In [19]:
encoders = {}
for column in ['workclass', 'education','marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']:
    enc = LabelEncoder()
    X_train[column] = enc.fit_transform(X_train[column])
    X_test[column] = enc.transform(X_test[column])
    encoders[column] = enc

In [20]:
X_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
19749,34,5,56460,11,9,2,4,5,4,0,0,2179,12,38
1216,48,5,243631,15,10,2,2,0,0,1,7688,0,40,38
27962,23,6,56402,15,10,2,9,0,4,1,0,0,30,38
23077,56,1,255406,11,9,0,3,1,4,0,0,0,40,38
10180,17,3,297246,1,7,4,8,3,4,0,0,0,9,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29802,47,3,359461,9,13,2,2,0,4,1,0,0,40,38
5390,31,3,147215,2,8,0,7,4,4,0,0,0,21,38
860,18,3,216284,1,7,4,0,3,4,0,0,0,20,38
15795,50,5,54261,11,9,2,4,0,4,1,0,0,84,38
23654,34,4,127651,9,13,0,4,1,4,1,0,0,60,38

# Model Training

## 1. Random Forest Model

In [21]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)

In [22]:
rf.score(X_test, y_test)

0.8566895280990889

## 2. Extra Tress Model

In [23]:
et = ExtraTreesClassifier(n_estimators=200)
et = et.fit(X_train, y_train)

In [25]:
et.score(X_test, y_test)

0.8459412427065206

## Save Preprocessing Objects and Trained Models

In [26]:
joblib.dump(train_mode, "../artifacts/train_mode.joblib", compress=True)
joblib.dump(encoders, "../artifacts/encoders.joblib", compress=True)
joblib.dump(rf, "../artifacts/random_forest.joblib", compress=True)
joblib.dump(et, "../artifacts/extra_trees.joblib", compress=True)

['../artifacts/extra_trees.joblib']